*.DS_Store
*.aux
*.blg
*.class
*.jar
*.lof
*.log
*.sqlite3
*.swp
*.synctex.gz
*.toc
*jar
./*/*.aux
./*/*.log
./*/*.swp
./*/.DS_Store
.DS_Store
.lein-deps-sum
.lein-failures
.lein-plugins
/checkouts
/classes
/lib
/target
core
pom.xml
